@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald:wght@200..700&family=Protest+Riot&family=Roboto+Slab:wght@100..900&display=swap');


#content {
    margin: 0 auto; /* Center the container */
    max-width: 1600px; /* Set the max-width for the entire page */
    
}
#hero-msg h1, #hero-msg h4 {
    text-align: center; /* Center text within the hero message */
}
.button-box {
    text-align: center; /* Center text within the button box */
}
main{
    margin-bottom: 100px;
}
main section {
    text-align: center; /* Center text within main section */
}
main section img {
    box-sizing: border-box;
}
#background {
    position: relative;
    height: 600px;
    background-color: rgb(192, 190, 128);
}
.mountains{
    position: absolute;
    top: 30px;
    left: 60px;
    z-index: 1;
    
}

.msg {
    /* Add background color for the message section */
    position: absolute;
    top: 150px;
    right: 140px;
    z-index: 2;
    padding: 20px;
    border-radius: 10px;
    background-color: #6f7363;
    line-height: 1.5em;
    padding: 35px;
    width: 600px;
    height: 200px;
}

body{
    background-color: #fcfbfb;
    font-family: Oswald,'Roboto Slab', sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

header {
    display: grid;
    align-items: center;
    grid-template-columns: 150px auto;
    background-color: rgba(184, 206, 187, 0.7); /* Set the background color for the header */
}

nav{
    display: flex;
    justify-content: space-around;
}
nav a:hover {
    background-color: rgb(91, 92, 180); /* Set the background color for navigation links on hover */
    color: #fcfbfb;
    text-align: center;
    text-decoration: none;
    padding: 35px;
}
.book, .join {
    background-color:#d9c2a3;
    color:black;
    text-decoration: none;
    padding: 15px 30px;
    margin-top: 50px;
    font-size: 18px;
    border-radius: 5px;
}
.book:hover, .join:hover {
    background-color: rgb(181, 144, 182);
    color: blue;
}

.triple{
    display: flex;
    justify-content: space-around;
    align-items: center;


}

.msg p {
    font-size: .8em;
}
footer {
    display: flex;
    justify-content: space-around;
    background-color: #6f7363; /* Set the background color for the footer */
    color: rgb(192, 190, 128);
    margin-top: 20px;
    
}
.home-title {
    color: black;
    font-family: 'Protest Riot', 'Bebas Neue', sans-serif;
    font-size: 2em;
    margin-top: 10px;
}
h2 {
    margin: 0;
}
h4 {
    color: rgb(59, 48, 155);
}
    .msg h2 {
    color: rgb(17, 115, 212);
}
footer a {
    color:rgb(192, 190, 128);
    text-decoration: none;
}
footer a :hover {
    color: azure;
    text-decoration: underline;
}
#hero_img{
    width: 100%;
}
.logo{
    width: 80px;
}
#logo_link{
    padding-top: 5px;
}
.icon {
    width: 80px;
    padding-top: 10px;
}


footer .social img {
    padding-top: 15px;
    
}
.rivers-card, .camping-card, .rapids-card{

    padding: 50px;
    margin: 200px 0;
    
}
.card-img {
    border: 10px solid #d9c2a3;
}