img {
    width: 10%;
    display: block;
    margin: 0 auto;
}


h1 {
    text-align: center;
}
nav, footer {
    text-align: center;
}
main p {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}
