body{
    text-align: center;
    background-color: lightblue;
}

nav{
    background-color: rgb(3, 177, 177);
    padding: 10px;
}

a{
    color: white;
    margin: 45px;
}
h1{
    color: steelblue;

}
img{
    width: 800px;
    border: 4px solid steelblue;

}
footer{
    background-color: steelblue;
    color: white;

}